.pagination{
    padding: 10px;
    margin: 15px 0;
    display: flex;
    justify-content: center;
}

.pagination>span{
    padding: 15px 20px;
    border: 1px solid grey;
    cursor: pointer;
}
.pagination_selected{
    background-color: aqua;
}

.pagination_disabled{
    opacity: 0;
}